/* semantic color variables for this project */
:root {
  --color-background: #ECF5FF;
  --color-background-mute: #C5D5EA;

  --color-border: #9ebbd4;

  --color-text: #17212C;

  --hover-color: #759EB8;

  --modal-color: #A5B4CA;


  --special-text-color: #2883BB;

  --back-alt-color: #B3C5D7;
}

::-webkit-calendar-picker-indicator {
  filter: invert(0);
}

@media (prefers-color-scheme: dark) {
  :root {

    --color-background: #111821;
    --color-background-mute: #171F2E;

    --color-border: #465A82;

    --color-text: #D8E1E9;

    --hover-color: #142336;

    --modal-color: #1B2731;


    --special-text-color: #4EB9EE;

    --back-alt-color: #17212C;
  }

  ::-webkit-calendar-picker-indicator {
    filter: invert(1);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}