@import "./base.css";

#app {
  flex-direction: column;
  min-height: inherit;
  position: relative;
  display: flex;
  margin: 0;

  font-weight: normal;
}
svg,
span {
  color: var(--color-text);
}

@media (hover: hover) {
  a:hover {
    background-color: var(--hover-color);
  }
}
