@import './base.css';

#app {
  min-height: 100vh;
  min-width: 100vh;
  margin: 0 auto;

  font-weight: normal;
}
svg, span {
  color: var(--color-text);
}


@media (hover: hover) {
  a:hover {
    background-color: var(--hover-color);
  }
}

@media (min-width: 1024px) {
  

}
